.task-details-container {
    background: #444;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}

.task-details-container h1 {
    margin-bottom: 5px;
    color: magenta;
}

.back-button-container {
    width: 30%;
    margin-top: 10px;
}

.description-input {
    height: 40px;
    padding: 0 10px;
    margin-top: 5px;
    background-color: #444;
    border-radius: 5px;
    border: none;
    flex: 2;
    color: #eee;
    font-size: 16px;
}